
/* Architecture */ 
.ici-event {
    padding: 5px;
	line-height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ici-title {
	box-sizing: border-box;
    margin: 0px;
    padding: 4px;
    padding-bottom: 4px;
    font-size: 110%;
    text-shadow: 1px 1px 3px #CCCCCC;
}
.ici-time {
    font-size: 80%;
}
.ici-desc .dt-end { display: none; }
.ici-desc {
    margin:0px;
    padding: 4px;
}

/* Theme Lighted */
.ici-light .ici-desc {
	background-color: #f6f8fa;
}
.ici-light .ici-title {
	background-color: #fff;
}
.ici-light {
    color: black;
	background-color: #f6f8fa;
}